[
  {
    "name": "runner-1",
    "tags": "docker,image_builder,runner-1,docker_privileged",
    "limit": 1,
    "docker_image": "docker:24.0.5",
    "docker_privileged": "true",
    "docker_volumes": "/var/run/docker.sock:/var/run/docker.sock,/cache",
    "docker_pull_policy": "if-not-present",
    "docker_cpus": "2",
    "docker_memory": "2g",
    "request_concurrency": 1
  }
]
